# Playwright MCP server.
.playwright*

# Workspace resources.
.workspace*

# Deliverable.
**/deliverable.*

# Node modules.
node_modules
**/node_modules/**

# Presentation output.
/Presentation/dist/**